#msg { 
    width: 100vh; 
    height: 60vh; 
    background-color: rgb(255, 255, 255); 

}

#input {
    margin-top: 4vh;
    
    display: flex;
    flex-direction: row;
    align-items: center; 
}

#standard-full-width {
    width: 70vh
}